
<form id="survey">
	<div id="wrapper" class="bg-0">
		<div class="section show" id="hello" data-anchor="hello">
			<div class="fullPage text-left">
				<div class="row">
					<div class="small-12 medium-8 medium-centered columns">
						<img id="gif" src="/images/hello-taiwan.gif" alt="hello taiwan cover gif" onload="displayImage(this)">
					</div>
					<div class="small-12 medium-9 medium-centered columns">
						<p>您好，我們是Hello Taiwan團隊，先謝謝您填寫問卷。<br>
							透過Hello Taiwan計畫，我們希望將真實的台灣呈現給世界。</p>
						<p>第一個主題是台灣美食，我們希望藉此紀錄台灣的小吃地圖，並將這些美好的庶民美食介紹給外國朋友。這份調查將會花您約三到五分鐘，您的答案將成為我們後續深度研究台灣小吃的珍貴資料。問卷最後也有目前調查的即時排名和數據，歡迎參考！</p>
						<p>這份問卷只是我們的第一步，這個計畫將持續發展，希望您跟我們一起，自己的外交自己做，讓更多台灣的美好被傳播出去：）謝謝您！</p>
					</div>
					<div class="small-12 columns text-center">
						<img class="next" src="/images/next.svg" data-num="1">
					</div>
				</div>
			</div>	
		</div>	
		<div class="section" id="section-1" data-anchor="question-1">
			<div class="fullPage text-left">
				<div class="row">
					<div class="small-12 columns">
						<div class="sep show-for-medium-up"></div>
					</div>
					<div class="small-6 medium-1 columns">
						<h2 class="pageNum">1</h2>						
					</div>
					<div class="small-6 columns show-for-small-only text-right">		
						<img class="prev" src="/images/prev.svg" data-num="0">
					</div>
					<div class="small-8 medium-10 columns">
						<p class="subheader">*此問卷的小吃定義為庶民美食。填答時請盡量避免加上店名:-)</p>
					</div>
					<div class="small-4 columns show-for-medium-up text-right">		
						<img class="prev" src="/images/prev.svg" data-num="0">
					</div>	
				</div>
				<div class="row">				
					<div class="small-6 medium-5 medium-offset-1 columns">
						<label for="q1_1">請問您認為能<strong>代表</strong>台灣的小吃有哪些？<small>（至多五項）</small></label>							
					</div>
					<div class="small-6 medium-5 columns end">
						<label for="q1_2">請問您<strong>最喜歡</strong>的台灣小吃有哪些？<small>（至多五項）</small></label>					
					</div>				
				</div>
				<div class="row">				
					<div class="small-6 medium-5 medium-offset-1 columns">									
						<input type="text" name="q1_1[]" required >	
						<input type="text" name="q1_1[]" >
						<input type="text" name="q1_1[]" >
						<input type="text" name="q1_1[]" >
						<input type="text" name="q1_1[]" >
					</div>
					<div class="small-6 medium-5 columns end">				
						<input type="text" name="q1_2[]" required >
						<input type="text" name="q1_2[]" >
						<input type="text" name="q1_2[]" >
						<input type="text" name="q1_2[]" >
						<input type="text" name="q1_2[]" >
					</div>				
					<div class="small-12 columns text-right">		
						<img class="next" src="/images/next.svg" data-num="2">
					</div>		
				</div>
			</div>
		</div>
		<div class="section" id="section-2" data-anchor="question-2">
			<div class="fullPage text-left">
				<div class="row">
					<div class="small-12 columns">
						<div class="sep show-for-medium-up"></div>
					</div>
					<div class="small-6 medium-1 end columns">
						<h2 class="pageNum">2</h2>
					</div>
					<div class="small-6 medium-11 columns text-right">		
						<img class="prev" src="/images/prev.svg" data-num="1">
					</div>
				</div>
				<div class="row">
					<div class="small-12 medium-5 medium-offset-1 columns">
						<label>如果您有超能力可以瞬間學一道小吃並招待外國人，您會選哪一道？
							<input type="text" name="q2_1" required>
						</label>
						<label>承上題，為什麼？
							<input type="text" name="q2_2" required>
						</label>
					</div>
					<div class="small-12 columns text-right">
						<img class="next" src="/images/next.svg" data-num="3">
					</div>
				</div>
			</div>
		</div>
		<div class="section" id="section-3" data-anchor="question-3">
			<div class="fullPage text-left">
				<div class="row">
					<div class="small-12 columns">
						<div class="sep show-for-medium-up"></div>
					</div>
					<div class="small-6 medium-1 columns">
						<h2 class="pageNum">3</h2>						
					</div>
					<div class="small-6 columns show-for-small-only text-right">		
						<img class="prev" src="/images/prev.svg" data-num="2">
					</div>
					<div class="small-8 medium-11 columns">
						<p class="subheader">*此問卷的小吃定義為庶民美食。填答時請盡量避免加上店名:-)</p>
					</div>
					<div class="small-4 columns show-for-medium-up text-right">		
						<img class="prev" src="/images/prev.svg" data-num="2">
					</div>
				</div>
				<div class="row">
					<div class="small-12 medium-5 medium-offset-1 end columns">
						<label>請問您是哪裡人？</label>			
					</div>
				</div>
				<div class="row">
					<div class="small-12 medium-5 medium-offset-1 columns">
						<select class="city" required name="city">
							<option value="">--請選擇--</option>
						</select>
					</div>
					<div class="small-12 medium-5 end columns">
						<input type="hidden" class="otherCity" name="otherCity" placeholder="其他地區請填">
					</div>
				</div>
				<div class="row">
					<div class="small-6 medium-5 medium-offset-1 columns">
						<label for="q3_1">在這個地方，有哪些<strong>代表性</strong>的小吃？<small>（至多五項）</small></label>							
					</div>
					<div class="small-6 medium-5 end columns">		
						<label for="q3_2">在這個地方，您<strong>最喜歡</strong>的小吃是？<small>（至多五項）</small></label>						
					</div>
				</div>
				<div class="row">
					<div class="small-6 medium-5 medium-offset-1 columns">			
						<input type="text" name="q3_1[]" >
						<input type="text" name="q3_1[]" >
						<input type="text" name="q3_1[]" >
						<input type="text" name="q3_1[]" >
						<input type="text" name="q3_1[]" >
					</div>
					<div class="small-6 medium-5 end columns">				
						<input type="text" name="q3_2[]" >
						<input type="text" name="q3_2[]" >
						<input type="text" name="q3_2[]" >
						<input type="text" name="q3_2[]" >
						<input type="text" name="q3_2[]" >
					</div>
					<div class="small-12 columns text-right">
						<img class="next" src="/images/next.svg" data-num="4">
					</div>
				</div>
			</div>
		</div>
		<div class="section" id="section-4" data-anchor="question-4">
			<div class="fullPage text-left">
				<div class="row">
					<div class="small-12 columns">
						<div class="sep show-for-medium-up"></div>
					</div>
					<div class="small-6 medium-1 end columns">
						<h2 class="pageNum">4</h2>
					</div>
					<div class="small-6 medium-11 columns text-right">		
						<img class="prev" src="/images/prev.svg" data-num="3">
					</div>
				</div>			
				<div class="row">
					<div class="small-12 medium-5 medium-offset-1 columns">
						<label>生理性別</label>
						<input type="radio" name="sex" value="男" id="male" required><label for="male">男性</label>
		  				<input type="radio" name="sex" value="女" id="female" required><label for="female">女性</label>
		  			</div>
		  		</div>
		  		<div class="row">
		  			<div class="small-6 medium-5 medium-offset-1 columns">
						<label>年齡
							<input type="number" name="age" placeholder="請直接填入年齡" required>
						</label>
					</div>
		  			<div class="small-6 medium-5 columns end">
						<label>現居地
							<select id="curCity" name="curCity" required>
								<option value=''>--請選擇--</option>
							</select>
						</label>
					</div>
				</div>
				<div class="row">
		  			<div class="small-6 medium-5 medium-offset-1 columns">
						<label>職業
							<select id="job" name="job" required>
								<option value=''>--請選擇--</option>								
							</select>
						</label>
					</div>
		  			<div class="small-6 medium-5 columns end">
						<label>您個人年收入為？
							<select id="salary" name="salary" required>
								<option value=''>--請選擇--</option>								
							</select>
						</label>
					</div>
				</div>
				<div class="row">
		  			<div class="small-12 medium-5 medium-offset-1 columns">
						<label>如果您願意後續接受我們的訪談，也請留下您的Email
							<input type="email" name="email">
						</label>
					</div>
					<div class="small-12 medium-5 columns end">
						<label>若您對我們的調查或研究有任何建議，歡迎留言指教：）
							<textarea name="comment"></textarea>
						</label>
					</div>					
				</div>
				<div class="row">
					<div class="small-12 medium-11 columns text-right">
						<button class="submit" type="submit">送出</button>
						<input type='hidden' name='_csrf' value='<%= _csrf %>'>
					</div>
				</div>
			</div>	
		</div>		
		<div class="section" id="finish" data-anchor="finish">
			<div class="fullPage text-left">
				<div class="row">
					<div class="small-12 medium-10 medium-centered columns">
						<h3>問卷結束，謝謝您。</h3>
						<p>由於我們希望不只看到真正能代表台灣的小吃選項，還能看出台灣各地區和不同世代的異同，因此除了自己填答，也歡迎你拉爺爺奶奶、爸爸媽媽及親朋好友都來填，一起拼出台灣人的小吃地圖。</p>
 						<p>若您對我們的計畫和問卷結果有興趣，歡迎來我們的<a href="https://www.facebook.com/pages/Hello-Taiwan/1649197388643654" target="_blank">粉絲專頁</a>瞧瞧！</p>
						<a href="/result" class="button tiny radius">看結果</a>
						<a href="http://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fhello-taiwan.relab.cc" target="_blank" class="button radius facebook tiny"><img src="images/facebook.svg">點我分享</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
<script type="text/javascript">
function displayImage(ele) {
    ele.style.opacity=1
}
</script>
<% block('localScripts', '<script src="/custom-js/main.js"></script>') %>