<div class="row">
	<div class="small-12 columns">
		<h3>合併紀錄</h3>
		<ul>	
		<% for (var i = 0, l = rec.length; i < l; i++) { %>
			<li><%= rec[i].originFood.name %> → <%= rec[i].food.name %> <small><%= rec[i].updatedAt %></small></li>
		<% }; %>
		</ul>
		<a href="/result" class="button radius tiny">回結果頁</a>
	</div>
</div>
