<div class="row">
	<div class="medium-12 column">
		<h3>Map</h3>
		<svg id="map" width="800" height="640"></svg>
	</div>
	<div class="small-12 column">
		<h3>Table</h3>
		<table>
		<% for(var i = 0, l = data.length; i < l; i++) { %>
			<tr>
		    	<td><%= data[i].id %></td>
		    	<td <%= (i == l-1) ? 'class=lastCity' : '' %>><%= data[i].name %></td>
		    	<td class="votes-by-city" data-city="<%= data[i].id %>"></td>
			</tr>
		<% } %>
		</table>
	</div>
</div>
<% block('localScripts', '<script src="custom-js/map.js"></script>') %>