<% block('meta', '<meta property="og:title" content="自己的外交自己做，一起來選出代表台灣的小吃吧！目前當選的是「'+lead+'」，來看看還有哪些其他小吃上榜吧！"/>') %>
<div id="header">
	<div class="row">
		<div class="small-12 column">
			<h4 class="title">Hello! Taiwan</h4>
		</div>
	</div>
</div>
<div id="result" class="row">
	<div class="small-12 medium-9 columns map">		
		<div class="row">
			<div class="small-12 medium-5 columns">
				<h4>台灣小吃大PK</h4>
				<p>來看看大家票選出來最代表台灣的小吃是甚麼呢？<br>
				<small class="show-for-medium-up">點擊地圖可以比較各縣市的結果喔</small></p>
				<div class="fb-share-button" data-href="http://hello-taiwan.relab.cc/result/" data-layout="button"></div>
			</div>
		</div>
		<div class="row">
			<div class="small-12 medium-6 columns">
				<div id="allRank" class="chart"></div>
			</div>
		</div>
		<div class="show-for-medium-up">
			<svg id="map" viewBox="0 0 800 800"></svg>
		</div>
	</div>
	<div id="voteByCityBubble" class="small-12 medium-3 columns show-for-medium-up chart"></div>
	<div id="voteByCityAccordion" class="small-12 column show-for-small-only chart">
		<ul class="accordion" data-accordion></ul>
	</div>
</div>
<% block('localScripts', '<script src="custom-js/result.js"></script>') %>