<div class="row">
	<div class="small-12 medium-8 medium-centered columns">
		<form method="post" action="/result" data-abide>
			<fieldset>
				<legend>題組一</legend>
				<div class="row">
					<div class="small-12 columns">
						<label for="q1">請問您認為能代表台灣的小吃有哪些？（至多五項）</label>
					</div>
					<div class="small-12 medium-4 columns">					
						<input type="text" name="q1[]" required>					
					</div>
					<div class="small-12 medium-4 columns">
						<input type="text" name="q1[]">
					</div>
					<div class="small-12 medium-4 columns">
						<input type="text" name="q1[]">
					</div>
					<div class="small-12 medium-4 columns">
						<input type="text" name="q1[]">
					</div>
					<div class="small-12 medium-4 columns end">
						<input type="text" name="q1[]">
					</div>					
				</div>
				<div class="row">
					<div class="small-12 columns">
						<label>如果您有超能力可以瞬間學一道小吃並招待外國人，您會選哪一道？
							<input type="text" name="q2_1">
						</label>
						<label>承上題，為什麼？
							<input type="text" name="q2_2">
						</label>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<legend>題組二</legend>
				<div class="row home-city">
					<div class="small-12 columns">
						<label>請問您是哪裡人？</label>			
					</div>
					<div class="small-12 medium-6 columns">
						<select class="county" required name="county"></select>
					</div>
					<div class="small-12 medium-6 columns">
						<select class="district" name="district"></select>
						<input class="zipcode" name="zipcode" value="" type="hidden">
					</div>
				</div>
				<div class="row">
					<div class="small-12 columns">
						<label for="q3">在這個地方，有哪些代表性的小吃？（至多五項）</label>
					</div>
					<div class="small-12 medium-4 columns">					
						<input type="text" name="q3[]">					
					</div>
					<div class="small-12 medium-4 columns">
						<input type="text" name="q3[]">
					</div>
					<div class="small-12 medium-4 columns">
						<input type="text" name="q3[]">
					</div>
					<div class="small-12 medium-4 columns">
						<input type="text" name="q3[]">
					</div>
					<div class="small-12 medium-4 columns end">
						<input type="text" name="q3[]">
					</div>		
				</div>
				<div class="row">
					<div class="small-12 columns">
						<label for="q4">在這個地方，您最喜歡的小吃是？（至多五項）</label>
					</div>
					<div class="small-12 medium-4 columns">					
						<input type="text" name="q4[]">					
					</div>
					<div class="small-12 medium-4 columns">
						<input type="text" name="q4[]">
					</div>
					<div class="small-12 medium-4 columns">
						<input type="text" name="q4[]">
					</div>
					<div class="small-12 medium-4 columns">
						<input type="text" name="q4[]">
					</div>
					<div class="small-12 medium-4 columns end">
						<input type="text" name="q4[]">
					</div>		
				</div>
			</fieldset>
			<fieldset>
				<legend>基本資料</legend>
				<div class="row">
					<div class="small-12 columns">
						<label>年齡
							<input type="text" name="age" required>
						</label>
					</div>
				</div>
				<div class="row">
					<div class="small-12 columns">
						<label>現居地
							<select id="curCity" required name="curCity">
								<option>--請選擇--</option>
							</select>
						</label>
					</div>
				</div>
				<div class="row">
					<div class="small-12 columns">
						<label>職業
							<select id="job" name="job" required>
								<option>--請選擇--</option>								
							</select>
						</label>
					</div>
				</div>
				<div class="row">
					<div class="small-12 columns">
						<label>您個人年收入為？
							<select id="salary" name="salary">
								<option>--請選擇--</option>								
							</select>
						</label>
					</div>
				</div>
				<div class="row">
					<div class="small-12 columns">
						<label>如果您願意後續接受我們的訪談，也請留下您的email
							<input type="text" name="email">
						</label>
					</div>
				</div>
				<div class="row">
					<div class="small-12 columns">
						<label>若您對我們的調查或研究有任何建議，歡迎留言指教：）
							<textarea name="comment"></textarea>
						</label>
					</div>
				</div>
			</fieldset>
			<div class="row">
				<div class="small-12 columns">
					<button type="submit">送出</button>
				</div>
			</div>
		</form>
	</div>
</div>
<% block('localScripts', '<script src="../custom-js/survey.js"></script>') %>