@font-family: 'Lantinghei TC', 'Yu Gothic', sans-serif;
@font-color: #595857;
body {
	font-family: @font-family;
	color: @font-color;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', @font-family;
	color: @font-color;
	font-weight: bold;
}


.transition (@transition) {
	-webkit-transition: @transition;  
	-moz-transition:    @transition;
	-ms-transition:     @transition; 
	-o-transition:      @transition;  
}

.border-radius (@radius: 5px) {
	-webkit-border-radius: @radius;
	-moz-border-radius:    @radius;
	border-radius:         @radius;

	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}

@color0: #E3C5AA;
@color1: #86DBF2;
@color2: #f9c37d;
@color3: #b3e0c8;
@color4: #cccccc;
@color5: white;

@sub1: #0071bc;
@sub3: #4a6d56;

@submit: white;

#gif {
	margin: 1.5em auto;
	opacity: 0;
}

.define(@var) {
  @colorSet: 'color@{var}';
}

.mixin-loop (@index) when (@index >= 0) {
	.bg-@{index}{
		.define(@index);
	    background-color: @@colorSet;
	}
	.mixin-loop(@index - 1);
}
.mixin-loop (0) {}
.mixin-loop(4);

.subheader {
	font-family: @font-family;
	font-size: 10pt;
}

#wrapper {
	height: 100vh;
	position: relative;
	overflow: hidden;
	.transition(background .8s);
}

.section {
	text-align: left;
	min-height: 100vh;
	position: absolute;
	display: table;	
  	width: 100%;
  	opacity: 1;
	z-index: 100; 
	transform: translateY(0);	
	.transition(all .8s);
	.fullPage {
		display: table-cell;
		text-align: center;
		vertical-align: middle;
	}
}

.section.off {
	transform: translateY(100%);
	opacity: 0;
	z-index: 50;
}

.section.leave {
	transform: translateY(-100%);
	opacity: 0;
	z-index: 50;
}

.section-1 .subheader {
	color: @sub1;
}

.section-3 .subheader {
	color: @sub3;
}

.next {
	max-width: 60px;
	cursor: pointer;
	padding-bottom: 1.5rem;
}

.prev {
	max-width: 60px;
	cursor: pointer;
	padding-top: 1.5rem;
}

.pageNum {
	font-family: 'Roboto';
	font-size: 48pt;
	color: white;
}

form label {
	font-size: 12pt;
	color: black;
	padding-bottom: 1rem;
}

button {
	font-family: @font-family;
}

button.submit {
	font-family: @font-family;
	font-size: 12pt;
	font-weight: bold;
	background: none;
	border-color: @submit;
	border-width: 2px;
	color: @submit;
}

button.submit:hover, button.submit:focus {
	background-color: rgba(255,255,255,.2);
}

.button {
	font-family: @font-family;
}

.button.facebook {	
	background-color: #3B5998;	
	img {
		vertical-align: text-bottom;
		margin-right: .4em;
		width: 20px;
		height: 20px;
	}
}

.button.facebook:hover, .button.facebook:focus {
	background-color: #355387;
}

@media only screen and (max-width: 25em) {
	p {
		font-size: .7em;
	}
	input:not([type=radio]), select {
		margin-bottom: .4rem;
		height: 2em;
		line-height: 1.8em;
		padding: .2em;
		font-size: .8em;
	}

	form label {
		font-size: 10pt;
		padding-bottom: .2rem;

	}
	.subheader {
		font-size: 8pt;
	}
	button.submit {
		padding: .4rem 1rem .53rem 1rem;
	}
}

@media only screen and (min-width: 40.063em) {
	.subheader {
		font-size: 12pt;
		padding-top: 1.4em;
	}
	.pageNum {
		font-size: 72pt;
	}
	form label {
		font-size: 14pt;
	}
	button.submit {
		font-size: 14pt;
	}
} 

.sep {
	width: 100%;
	height: 1px;
	background: black;
}

/* Result */

@orange: #f4a75b;
@light-orange: @orange;
@mapFill: #c7c7c8;
@mapStrokeWidth: 2pt;
@bubbleFill: #f6f6f6;
@bubbleStroke: #c7c8c8;
@bubbleFill-heavy: #d8d8d8;
@bubbleStroke-heavy: #9b9b9b;

#header {
	background-color: @orange;
	padding: 0;
	.title a, .title a:visited {
		color: white;
	}
}

#allRank {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

ul.pagination li.current a, ul.pagination li.current a:hover, ul.pagination li.current a:focus {
	background: @orange
}

#voteByCityBubble {
	padding-top: 2em;
}

#voteByCityAccordion {
	padding-top: 2em;
}

#allRank, #voteByCityBubble, #voteByCityAccordion {
	z-index: 50;
	.bar {
		background-color: @orange;
		height: 1.2em;
	}	
	.desc p {
		margin-bottom: .5rem;
	}	
	.collapse .columns {
		padding-right: 0;
	}
	.columns {
		padding-bottom: .5rem;
	}
	.columns > * {
		float: left;
	}
	.vote {
		width: 20%;
		font-size: .8em;
		padding-left: .4em;
	}
	p {
		font-size: .8em;
		margin: 0;
	}
}

.accordion {
	padding-top: 1em;
	margin-left: 0;
	.accordion-navigation a {
		font-family: @font-family;
	}
}

.map {
	min-height: 80vh;
}

#map {
	position: absolute;
	top: 0;
	left: 15%;
	.map {
		polyline {
			stroke-width: @mapStrokeWidth / 2;
			stroke: @bubbleStroke;
			cursor: pointer;
		}
		path {
			fill: @mapFill;
			stroke: white;
			stroke-width: @mapStrokeWidth;
			.transition(200ms);
		}
		path:hover, path[selected] {
			fill: @orange;
		}
	}
	.city-label {
		text {
			font-family: @font-family;
			cursor: pointer;
			.transition(200ms);
		}
		path {
			fill: @bubbleFill;
			stroke: @bubbleStroke;
			stroke-width: @mapStrokeWidth;
			cursor: pointer;
			.transition(200ms);
		}
		
	}
	.city-label[selected] {
		path {
			fill: @orange;
			stroke: white;
		}
		text {
			fill: white;
			font-weight: bold;
		}
	}
	z-index: 0;
}

#voteByCity {
	padding-top: 5em;
}

#result {
	padding-top: 2em;
	.more {
		color: @font-color;
		font-size: .8em;
	}
	.more:hover {
		text-decoration: underline;
	}
}

@media only screen and (min-width: 40.063em) {

	#result {

		.city {
			position: relative;
			padding: 15px;
			margin: 1em 0 3em;
			background: @bubbleFill;
			border-radius: 10px;
			border-color: @bubbleStroke;
			border-width: 2px;
			border-style: solid;
		}

		/* creates triangle */
		.city:after {
			content: "";
			display: block; /* reduce the damage in FF3.0 */
			position: absolute;
			top: 3em;
			margin-top: -13px;
			left: -18px;
			width: 0;
			border-width: 13px 20px 13px 0;
			border-style: solid;
			border-color: transparent @bubbleFill;
		}

		.city:before {
			content: "";
			display: block; /* reduce the damage in FF3.0 */
			position: absolute;
			top: 3em;
			margin-top: -14px;
			left: -21px;
			width: 0;
			border-width: 14px 21px 14px 0;
			border-style: solid;
			border-color: transparent @bubbleStroke;
		}

	}
}